.hamburger {
  background-color: #fe7a88;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  border-radius: 0px 0px 0px 12px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}
.hamburger-in {
  height: 80px;
  width: 80px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
.hamburger-sticks {
  height: 9%;
  width: 100%;
  margin: 5px;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.hamburger.active .hamburger-sticks:nth-of-type(1) {
  transform: translateY(10px);
}
.hamburger.active .hamburger-sticks:nth-of-type(2) {
  opacity: 0;
}
.hamburger.active .hamburger-sticks:nth-of-type(3) {
  transform: translateY(-10px);
}
.hamburger.active .hamburger-in {
  transform: rotate(90deg);
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #a0c7ce;
  background-color: #fe7a88;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-in 1s cubic-bezier(0.16, 1, 0.3, 1);
}
.nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nav-links {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.5rem;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  position: relative;
  padding: 10px;
}
.nav-links:hover {
  color: #fe7a88;
}
.nav-links::after {
  content: "";
  width: 0%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  transition-delay: 2s;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: -1;
}
.nav-links:hover::after {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .nav-links {
    font-size: 2.5rem;
    /* color: #fe7a88; */
  }
  .active.nav-links::after {
    width: 100%;
  }
  .active.nav-links {
    color: #fe7a88;
  }
  .hamburger-in {
    height: 60px;
    width: 60px;
    padding: 12px;
  }
  .hamburger-sticks {
    height: 7%;
  }
  .hamburger.active .hamburger-sticks:nth-of-type(1) {
    transform: translateY(7px);
  }
  .hamburger.active .hamburger-sticks:nth-of-type(3) {
    transform: translateY(-7px);
  }
}
@media only screen and (min-width: 900px) {
  .hamburger.nactive:hover .hamburger-sticks:nth-of-type(2) {
    opacity: 0;
  }

  .hamburger.nactive:hover .hamburger-sticks:nth-of-type(1) {
    transform: translateY(10px);
  }
  .hamburger.nactive:hover .hamburger-sticks:nth-of-type(3) {
    transform: translateY(-10px);
  }

  .hamburger.active:hover .hamburger-sticks:nth-of-type(1) {
    transform: translateY(12px);
  }
  .hamburger.active:hover .hamburger-sticks:nth-of-type(2) {
    opacity: 0;
  }
  .hamburger.active:hover .hamburger-sticks:nth-of-type(3) {
    transform: translateY(-12px);
  }
}
