:root {
  --primary: #fe7a88;
  --secondary: #a0c7ce;
  --primary-txt: "Playfair Display";
  --secondary-txt: "Montserrat";
}
* {
  font-weight: 400;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #a0c7ce !important; TODO:Change this after */
  /* overflow-x: scroll !important; */
  background-color: #ffffff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body::-webkit-scrollbar {
  width: 0rem;
}

body::-webkit-scrollbar-track {
  /* background: rgba(39, 83, 115, 0.3); */
  background: rgba(254, 122, 136, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: rgb(254, 122, 136);
}
